*{
	margin:0px;padding:0px;box-sizing: border-box;

}
.llb{
	overflow: hidden;
}
.img{
	background-image:linear-gradient(to right,rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(images/light_bulb.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

width:100%;
	height:50vh;
	transition:.5s;
color:white;
}
h5{
	text-transform: capitalize;

}
.image1{

	background-image:linear-gradient(to right,rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(images/mung_beans.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
height:30vh;width:20vw;

}
.image2{

	background-image:linear-gradient(to right,rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(images/grapes.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
height:30vh;width:20vw;

}
.image3{

	background-image:linear-gradient(to right,rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(images/coffee_beans_1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
height:30vh;width:20vw;

}